<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>We connect</title>

   
<link type="text/css" rel="stylesheet" href="../static/bootstrap.css">
    
<link type="text/css" rel="stylesheet" href="../static/custom.css"/>
    

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">We Connect</a>
          <a class="btn btn-primary" href="index.html">Home</a>
        <a class="btn btn-primary" href="log in.html">Log in</a>
        <a class="btn btn-primary" href="register.html">User register</a>
          <a class="btn btn-primary" href="Businesses.html">Businesses</a>

      </div>
    </nav>

  <body><div class="container">
    <div class="login-form col-md-8 offset-md-4">

        <h1 class="title"> Register a business</h1>
        <form>
            <div class="form-group">
                <label>Owner</label>
                <input type="text" name="owner" class="form-control">

            </div>

            <div class="form-group">
                <label>Business name</label>
                <input type="text" name="bname" class="form-control">

            </div>



            <div class="form-group">
                <label for="BsType">Business type:</label>
                <select class="form-control" id="BsType">
                    <option></option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="BsLocation">Business Location:</label>
                <select class="form-control" id="BsLocation">
                    <option>Nairobi</option>
                    <option>Mombasa</option>
                    <option>Kisumu</option>
                    <option>machakos</option>
                    <option>Thika</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="5" id="description"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-lg">Save</button>
            <button type="button" class="btn btn-secondary btn-lg">Cancel</button>

        </form>

    </div>
</div>
<p> please visit us again</p>
 
   

  </body>

</html>
