<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>We connect</title>

   
 <link type="text/css" rel="stylesheet" href="../static/bootstrap.css">
    
<link type="text/css" rel="stylesheet" href="../static/custom.css"/>
    

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="index.htm">We Connect</a>
        <a class="btn btn-primary" href="index.html">Home</a>
        <a class="btn btn-primary" href="register.html">User register</a>
        
        <a class="btn btn-primary" href="BsRegister.html">Business register</a>
          <a class="btn btn-primary" href="Businesses.html">Businesses</a>
      </div>
    </nav>

  <body>
<div class="container">
    <div class="login-form col-md-4 offset-md-4">

        <h1 class="title"> log in here</h1>
        <form>
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control">

            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control">

            </div>

            <div class="form-group">
                <input type="checkbox"> Remember me

            </div>

            <button class="btn btn-primary btn-block">Log in</button>

        </form>

    </div>
</div>

  </body>

</html>
