<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <link type="text/css" rel="stylesheet" href="../static/custom.css"/>

</head>


<div class="header">

    <div class="navbar">
        <ul>
            <li> <a class="nav-link" href="index.html">Home</a> </li>
            <li> <a class="nav-link" href="register.html">Register business</a> </li>
            <li> <a class="nav-link" href="review.html">Write-review</a> </li>
            <li> <a class="nav-link" href="searchForBusiness.html.html">Search</a> </li>
            <li> <a class="nav-link" href="update.html">Update</a> </li>
            <li> <a class="nav-link" href="getAllReviews.html">All reviews</a> </li>
            <li> <a class="nav-link" href="filter.html">Filter</a> </li>



        </ul>

    </div>

</div>


<body>
<div class="container">
    <div class="login-form col-md-4 offset-md-4">

        <h1 class="title"> log in here</h1>
        <form>
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control">

            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control">

            </div>

            <div class="form-group">
                <input type="checkbox"> Remember me

            </div>

            <button class="btn btn-primary btn-block">Log in</button>

        </form>

    </div>
</div>

<!--adding some styles -->
<style type="text/css">



</style>
</body>
</html>