<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weconnect.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/bootstrap.css" rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container">
    <header>
        <div id="logo"><a href="#" > <img src="../static/pics/weconnect-blog-header.jpg" height="200" width="350" ></a></div>
        <div class="clearfix"></div>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav" >
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a> </li>
                <li class="nav-item"><a class="nav-link" href="register.html">Register</a> </li>
                <li class="nav-item"><a class="nav-link" href="searchForBusiness.html">searchForBusiness</a> </li>
                <li class="nav-item"><a class="nav-link" href="update.html">update</a> </li>
                <li class="nav-item"><a class="nav-link" href="getAllReviews.html">getAllReviews.html</a> </li>
            </ul>
        </nav>
    </header>


        <form class="form-signin">
            <h2 class="form-signin-heading">Log In </h2>
            <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>





</div>
</div>
</div>

</div>


</body>

</html>