<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <link type="text/css" rel="stylesheet" href="../static/custom.css"/>
</head>


<div class="header">

    <div class="navbar">
        <ul>
            <li> <a class="nav-link" href="index.html">Home</a> </li>
            <li> <a class="nav-link" href="login.html">Log in</a> </li>
            <li> <a class="nav-link" href="review.html">Write-review</a> </li>
            <li> <a class="nav-link" href="searchForBusinesshtml">Search</a> </li>
            <li> <a class="nav-link" href="update.html">Update</a> </li>
            <li> <a class="nav-link" href="getAllReviews.html">All reviews</a> </li>
            <li> <a class="nav-link" href="filter.html">Filter</a> </li>

        </ul>

    </div>

</div>

<body>
<div class="container">
    <div class="login-form col-md-4 offset-md-4">

        <h1 class="title"> Register</h1>
        <form>
            <div class="form-group">
                <label>First name</label>
                <input type="text" name="fname" class="form-control">

            </div>

            <div class="form-group">
                <label>Surname</label>
                <input type="text" name="sname" class="form-control">

            </div>



            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control">

            </div>

            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" name="cpass" class="form-control">

            </div>

            <button type="button" class="btn btn-primary btn-lg">Save</button>
            <button type="button" class="btn btn-secondary btn-lg">Cancel</button>

        </form>

    </div>
</div>



<div class="container">

    <h3> feel free to visit again</h3>
</div>
</body>
</html>