<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <link type="text/css" rel="stylesheet" href="../static/custom.css"/>
</head>


<div class="header">

    <div class="navbar">
        <ul>
            <li> <a class="nav-link" href="index.html">Home</a> </li>
            <li> <a class="nav-link" href="login.html">Login</a> </li>
            <li> <a class="nav-link" href="register.html">Register business</a> </li>
            <li> <a class="nav-link" href="review.html">Write-review</a> </li>
            <li> <a class="nav-link" href="searchForBusiness.html">Search</a> </li>
            <li> <a class="nav-link" href="update.html">Update</a> </li>
            <li> <a class="nav-link" href="getAllReviews.html">All reviews</a> </li>
            <li> <a class="nav-link" href="filter.html">Filter</a> </li>

        </ul>

    </div>

</div>



<body>
<div class="container">
    <div class="login-form col-md-6 offset-md-4">

        <h1 class="title"> Remove a business</h1>
        <form>
            <div class="form-group">
                <label>Owner</label>
                <input type="text" name="owner" class="form-control">

            </div>



            <div class="form-group">
                <label for="business">Select business :</label>
                <select class="form-control" id="business">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary btn-lg">Remove</button>
            <button type="button" class="btn btn-secondary btn-lg">Cancel</button>

        </form>

    </div>
</div>



<div class="container">
<p>
Thank you for visiting us

</p>

</div>
</body>
</html>