<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <link type="text/css" rel="stylesheet" href="../static/custom.css"/>
</head>


<div class="header">

    <div class="navbar">
        <ul>
            <li> <a class="nav-link" href="index.html">Home</a> </li>
            <li> <a class="nav-link" href="login.html">Login</a> </li>
            <li> <a class="nav-link" href="register.html">Register business</a> </li>
            <li> <a class="nav-link" href="review.html">Write-review</a> </li>
            <li> <a class="nav-link" href="update.html">Update</a> </li>
            <li> <a class="nav-link" href="getAllReviews.html">All reviews</a> </li>
            <li> <a class="nav-link" href="filter.html">Filter</a> </li>



        </ul>

    </div>

</div>



<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        search for a business &nbsp; <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>

